:root {
  --darkgrn: #004304;
  --lightgrn: #2D8633;
  --background: #C1B896;
  --pale: #F9F6E9
}

body {
  color: black;
  background-color:var(--background);
  font-family: serif;
}

#main {
  text-align:center;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  padding: 10px;
  background-color:var(--pale);
}

h1 {
  margin:5px;
  color:var(--darkgrn);
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.bar {
  fill: var(--darkgrn);
}

.bar:hover {
  fill:var(--lightgrn);
}

.d3-tip {	
  position: absolute;			
  text-align: center;				
  padding: 5px;					
  background: var(--lightgrn);	
  border: 0px;
}

.d3-tip p {
  margin: 0px;
}
